<!-- Sidebar -->
<section id="sidebar">
	<div class="sidemenu" style="min-width:220px">
		<nav>
			<a class="link depth-0" href="/who-we-are" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); pointer-events:none;cursor:none">
				<span class="indent-0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"></span><%= raw mainmenu.the_title %>
			</a>
			<% submenu1.each do |sub| %>
			<a class="link <%= activemenu == sub.the_slug ? 'active' : ''%> depth-1" href="<%=sub.the_url%>" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
					<span class="indent-1"></span>
					<%= raw sub.the_title %>
			</a>
			<%end%>
		</nav>
	</div>
</section>

