
/* ---------- Font -------------*/

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Prompt:300,700&subset=thai');
@font-face {
  font-family: "OratorStd";
  src: url(../fonts/OratorStd.otf) format("truetype");
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}
.orator{
    font-family: 'OratorStd',"Prompt";
}

/* ---------- General Style -------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: "Didact Gothic","Prompt";
    font-size: 14px;
    letter-spacing:0.4px;
    /*line-height: 1.42857143;*/
    line-height: 1.8;
    /*color: #333333;*/
    color: black;
    background-color: #fff;
    margin: 130px 0 0 0;
}
button, input, optgroup, select, textarea{
    font-family: inherit;
}

a {
    color: #07167D;
    text-decoration: none;
}
a:hover, a:focus {
    color: #000e66;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


h1, .h1 {
    font-size: 2.3em;
    line-height: 1.5;
}
h2, .h2 {
    font-size: 1em;
}
h3, .h3 {
    font-size: 1em;
}
h4, .h4 {
    font-size: 1.2rem;
}
h5, .h5 {
    font-size: 1.1rem;
}

h2 {
    
    letter-spacing: 1.5px;
    line-height: 36px;
    border-bottom: 2px solid rgba(0, 25, 179, 0.3);
    margin-top: 0px;
    margin-bottom: 22.5px;
    text-transform: uppercase;
    padding: 0px;
    font-family: "futura-black","Prompt";
}
p {
    margin: 0 0 10px;
}
/*----------- big image ---------------*/
#splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    border:0;
    background: black;
    z-index: 1000;
    /*text-align: center;
    align-self: center */
    
}
#splashscreen td{
    vertical-align: middle;
   text-align: center;
}

.header-image {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    height: 461px;
}
.motto{
    margin: 45px 0;
}
.motto h1{
    font-size: 2.5em;
    line-height: 1.5;
}
.container{
    width: 1040px
}
.phone, a.phone:hover, a.phone:focus{
    text-decoration: none;
    cursor: pointer;
}

#router {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 999;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 2px 16px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 2px 16px 0px rgba(255, 255, 255, 0);
}
#router .container {
    position: relative;
}
#router #logo {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    line-height: 95px;
}
#router #logo img {
    width: 290px;
}
#router #magic-line {
    -webkit-transition: height 0.3s ease,  bottom 0.3s ease,  background-color 0.3s ease;
    transition: height 0.3s ease,  bottom 0.3s ease,  background-color 0.3s ease;
    list-style: none;
    position: absolute;
    bottom: 56px;
    left: 0;
    width: 100px;
    height: 2px;
    background: rgba(0, 25, 179, 0.3);
    z-index: 0;
}
/*--------------div.languages  ---------*/
#router div.languagesblock {

    color: #091C7A;
    /*font-size: 14px;*/
    padding-top: 26px;
}
#router ul.languages {
    margin: 0;
    list-style: none;
    padding: 0;
}
#router ul.languages li {
    line-height: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
}
#router  ul.languages li:first-child{
    padding-left: 0;
}
#router  ul.languages li a {
    padding: 0px;
    color: #b0b0b0;
    border:none;
    text-transform: uppercase;
}
#router ul.languages li.active a{
	 color: #091C7A;
}
#router ul.languages span.spacer {
    display: inline;
}
/*-------------------main menu -----------*/
#router nav ul {
    margin: 0;
    list-style: none;
    padding: 8px 0px;
}
#router nav ul.roots {
	background-color: #506270;
}
#router nav ul li {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    border-left: 1px solid white
}
#router nav ul li:first-child {
   
    border-left: none;
}
#router nav ul li a {

    position: relative;
    z-index: 1;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0px 46px;
}
#router nav ul li a:active, #router nav ul li a:visited, #router nav ul li a:focus, #router nav ul li a:link {
    text-decoration: none;

}
#router nav ul li a:hover {
    color: #A5B8DD;
    cursor: pointer;
}

#router nav ul li.active a,
#router nav ul li.current-menu-item a,
#router nav ul li a.current-link{
    
     color: #A5B8DD;
  
}
#router.smaller nav ul {
    line-height: 32px;
    padding: 0;
}
#router.smaller nav ul li.current-menu-item {
    background-color: #DDDDDD;
}
#router.smaller nav ul li.current-menu-item a{
    border-color: transparent;
    color: black;
}


/*------------submenu --------------*/
.submenu {
    margin-bottom: 30px;
    /*padding-left: 5px;*/
    
}
.submenu ul {
    list-style-type: none;
    padding: 0;
}
.submenu ul li {
    
    width: 100%;
    /*line-height: 1.6;*/
    letter-spacing: 1px;
    padding: 1.5px 0;
}
.submenu ul li a {
    padding: 2px 9px;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #07167D;
}
.submenu ul li.current-menu-item a,
.submenu ul li a:active, 
.submenu ul li a:visited, 
.submenu ul li a:focus, 
.submenu ul li a:link {
    text-decoration: none;
}
.submenu ul li.active ,
.submenu ul li.current-menu-item a{
    border-left: 2px solid rgba(0, 25, 179, 0.3);
}
.submenu ul li.active a,
ul li.current-menu-item a {
    padding: 2px 7px;
    color: black;
}
.submenu ul li.active:hover,
ul li.current-menu-item a:hover {
    border-left: 2px solid rgba(0, 7, 51, 0.3);
}
.submenu ul li:hover
ul li a:hover {
    border-left: 2px solid rgba(0, 7, 51, 0.3);
}
.submenu ul li:hover a,
ul li:hover a {
    padding: 2px 7px;
    text-decoration: none;
}
.tag {
    width: 100%;
    background-color: #081D7A;
    color: white;
    text-align: left;
    line-height: 34px;
    padding: 0px 9px;
    margin-bottom: 22.5px;
    border-top-left-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
}
.office-info {
    background: #fafafa;
    margin: 0;
    height: 250px;
}

/*------- Footer ----------*/
footer {
    background-color: #506270;
    color: white;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
   
}
footer .menu{
    margin: 20px -15px 15px -15px;
}
footer a {
    color: white;
}
footer a:hover {
    color: #f2f2f2;
    text-decoration: none;
}
footer a:active, footer a:visited, footer a:focus, footer a:link {
    color: white;
}
footer h2 {

    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    
    margin-bottom: 15px;
    line-height: 30px;
   

}
footer h3 {

    text-transform: uppercase;
    letter-spacing: 1.5px;
}
footer hr {
    margin: 15px 0;
    border: none;
    height: 1px;
    color: white;
    background-color: white;
}
footer ul.links {
    padding-left: 15px;
}
footer ul.links li {
    display: block;
    margin-bottom: 10px;
}
footer ul.links li:before {
    content: "\f054";
    font-family: "FontAwesome";
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}
footer ul.links li:hover:before, footer ul.links li.active:before {
    margin-left: -15px;
}
footer .copyright {
    width: 100%;
    min-height: 45px;
    line-height: 45px;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: #9f9f9f;
    background-color: #00335a;
}
footer .copyright a {
    color: #9f9f9f;
}
footer .copyright a:hover {
    color: white;
}
footer .office-map-container {
    position: relative;
    padding-bottom: 15px;
    margin-top: 15px;
}
footer .office-info {
    position: relative;
    z-index: 2;
}
footer .office-map-darkener {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background-color: rgba(75, 73, 73, 0.75);
    z-index: 1;
}
footer #head-office-map {
    width: 50%;
    right: 50%;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 0;
}
footer a.social {
    background-color: #506270;
    width: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    border: 1px solid white;

}
footer a.social:hover {
    background-color: white;
    cursor: pointer;

}
footer a.social:hover i {
    color: #595959;
}
footer a.social i {
    font-size: 12.5px;
    line-height: 25px;
    color: white;
}

/*-------- Customer logo-----------*/
.customerlogo{

    background-color: #00335a;
    padding: 30px 0 30px 0;
}
.customerlogo h3{
    text-align: center;

}
.customerlogo .row div.block{
    padding: 0 22px;
}
.customerlogo .row div.block:first-child{
    padding-left: 15px
}
.customerlogo .row div.block:last-child{
    padding-right: 15px
}

img.desaturate {
    -webkit-filter: grayscale(100%) invert(1);
            filter: grayscale(100%) invert(1);
}
.responsive-container {
    position: relative;
    width: 100%;
   
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}
.img-container.bottom img {
    vertical-align: bottom;
    display: inline-block;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----------- management member -----------*/
.management-list{
     margin-bottom: 22.5px ;
}
.management-list:last-child{
     margin-bottom: 8px ;
}
.management-member {
    background-color: #fafafa;
    display: inline-block;
   
    width: 100%}
.management-member .text {
    padding: 0 20px;
    float: right;
    color: black;
    text-decoration: none;
}
.management-member .text h3{
    /*font-weight: bold;*/
    font-size: 1.2em;
    text-transform: uppercase;

}
a.management-member:hover{
    text-decoration: none;
    cursor: pointer;
}
.collapse, .collapsing {

    border: 2px solid rgba(0, 25, 179, 0.3);
    padding: 22.5px;
    margin: 22.5px 0;
}

/*-----------Project -----------*/
.projects h3 {
    font-size: 1.5em;
    color: black;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.projects h3 .small {
    display: block;
    margin-top: 7.5px;
    font-size: 12px;
    /*font-family: "Didact Gothic",  sans-serif;*/
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 22.5px;
}
.projects .item a:hover,.projects .item a:focus{
    cursor: pointer;
    text-decoration: none;
}
/*------------- job --------------*/

.job {
    margin:  0px;
    padding-top: 25px;
    border-bottom: 2px solid rgba(0, 25, 179, 0.3);
}

.job .job-date {
    line-height: 3;
    
}
.joblist a{
    text-decoration: none;
}
.joblist a:hover{
    cursor: pointer;
}
.joblist .collapse, .joblist .collapsing{
    border-top: 0px;
}
.job-title {
    letter-spacing:1px;
    text-decoration: none;
}
.job-title h2 {

    line-height: 1.3;
    border-bottom: none !important;
    margin: 7.5px 0px 7.5px 0px;
    text-decoration: none;

}
.job-title p {
    margin: 0px 0px 5px 0px;
}
a.job:active, a.job:visited, a.job:focus, a.job:link {
    color: #07167D;
    text-decoration: none;
}
.author{
    padding-bottom: 22.5px;
}
.article img{
    max-width: 100% !important;
    height: auto;
    
}
.article table  {
    width: 100% !important;
}
.article table td{
    vertical-align: top;
}
.btn-primary{
    background-color: #081D7A;
    border-color: #081D7A;
}
/*------------ contact us -------------*/
.address-info {
    padding:  34px ;
}
.map iframe{
    width: 100% !important;
    height: 250px !important;
}
.info .contact input.form-control:nth-child(n+4){
    width: 50%;
    float: left;

}
.info .contact .form-control,
.info .contact .form-group .submit_btn{
    border: 1px solid rgba(0, 25, 179, 0.3);
    border-radius: 0;
    background-color: #fafafa;
    font-size: inherit;
}
.contact .form-group .submit_btn{
    background: rgba(0, 25, 179, 0.15) !important;
}
.info .contact textarea.form-control {
    height: 200px;
}
.footer table td{
    vertical-align: top;
}
/*.footer table tr:nth-child(n+2){
    line-height: 1rem;
}*/


/* -----------Size sensitive style --------------*/
/*  @media (max-width:1280px) { hi-res laptops and desktops }
@media (max-width:1024px) {  big landscape tablets, laptops, and desktops  }
@media (max-width:800px)  {  tablet, landscape iPad, lo-res laptops ands desktops }
@media (max-width:600px)  {  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (max-width:480px)  {  smartphones, Android phones, landscape iPhone }
@media (max-width:320px)  {  smartphones, portrait iPhone, portrait 480x320 phones (Android)  }*/




@media  (max-width:1366px) { /* hi-res laptops and desktops */ 

     .header-image {

        height: 315px;;
    }

}
@media (max-width:1024px) { /* big landscape tablets, laptops, and desktops */ 
	
	h1, .h1 {
    font-size: 2em;
	}

	.container{
		width: 900px;
	}
	
    #router nav ul li a {
    	padding: 0px 34px;
	}
    #router div.languagesblock{
        padding-top: 26px;
        font-size: 0.9em;
    }
    .header-image {

        height: 322px;
    }

}
@media (max-width:800px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
	body{
        margin-top:65px;
    }
    h1, .h1 {
        font-size: 1.4em;
    }
    .container{
        /*width: 700px;*/
        padding: 0 50px;
    }
    #router {
		height: 65px;
		-webkit-box-shadow: 3px 1px 1px #888888;
		        box-shadow: 3px 1px 1px #888888;
	}
	#router.smaller{
		height: 75px;
		
	}
	#router #logo{
		line-height: 66px;
	}
	#router.smaller #logo{
		line-height: 92px;	
	}
	#router #logo img {
		width: 225px;
	}
	#router a.phone{
	    display: none;
	}

	#router #mobile-trigger {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    width: 50px;
    height: 50px;
 
    top:7px;
    right: 45px;
    position: absolute;
    z-index: 10000;
    background-color: #081D7A;
    border: 4px solid white;
	}
	#router.smaller #mobile-trigger {
    	top:18px;    
	}
	#router #mobile-trigger span {
	    display: block;
	   
	    height: 3px;
	    width: 31px;
	    margin: 8px 6px;
	    background: white;
	    opacity: 1;
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: 0.25s ease-in-out;
	    transition: 0.25s ease-in-out;
	}
	#router #mobile-trigger span:nth-child(1) {
	    top: 12px;
	   
	}
	#router #mobile-trigger span:nth-child(2) {
	    top: 24px;
	}
	#router #mobile-trigger span:nth-child(3) {
	    top: 36px;
	}
	#router #mobile-trigger.active {
	    background-color: #081D7A;
	   
	}
	#router #mobile-trigger.active span:nth-child(1) {
	    top: 10px;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	     position: absolute;
	}
	#router #mobile-trigger.active span:nth-child(3) {
	    top: 10px;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	     position: absolute;
	}
	#router #mobile-trigger.active span:nth-child(2) {
	    opacity: 0;
	}
    #router .row{
        margin: 0;
    } 
    /*----------- Mobile menu ------------*/
    #router nav {
        /*width: 50%;*/
        padding-right: 0px;

        -webkit-transition: left 0.5s ease;
        transition: left 0.5s ease;
        position: fixed;
       
        height: 100%;
        padding-right: 94px;
        z-index: 999;
        top: 0;
        /*left: -1000px;*/
    }
    #router nav{
        display: none;
    }
    #router nav.show {
        left: 0;
        display: block;
    }

    #router nav ul {
        list-style: none;
        padding: 0;
    }
    #router nav ul li{
        border:none;
        text-align: left;
        width: 100%
    }
    #router nav ul li.current-menu-item,#router.smaller nav ul li.current-menu-item{
        background-color: #081D7A;
      
    }
    #router nav ul li.current-menu-item a,#router.smaller nav ul li.current-menu-item a{
        
        color: #ffffff;
    }
    #router nav ul a {
        color: white;
        /*font-size: 15px;*/
    }
    #router nav ul a:active, #router nav ul a:visited, #router nav ul a:focus, #router nav ul a:link {
        text-decoration: none;
        
    }
    #router nav.show ul.roots{
        overflow: auto;
        padding-bottom: 30px;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
    }
    #router nav ul.roots li.active a {
        background-color: #081D7A;
    }


    #router nav ul.roots li a {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        letter-spacing: 1.5px;
        line-height: 60px;
        padding: 0px 30px;
    }
    /*---------- language ------------*/
    #router  ul.languages.show{
        display: block;
    }
    #router  ul.languages{
        display: none;
    }
    #router  ul.languages {
        position: fixed;
        z-index: 1000;
        bottom: 0;
        left: 0;
        /*width: 38%;*/
        margin: 0;
    }
    #router  ul.languages li {
        display: inline-block;
        width: 50%;
        text-align: center;
        background-color: black;
        float: left;
    }
    #router  ul.languages span.spacer {
        display: none;
    }
    #router  ul.languages li.active {
        background-color: #081D7A;
    }
    #router  ul.languages li a {
        line-height: 30px;
        color: #ffffff !important;
        font-weight: bold;
    }

    
    .header-image {

        height: 380px;
    }
    .job .job-date{
        font-size: 0.7em;
    }
   
}
@media (max-width:670px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
     .header-image {

        height: 219px;
    }
}
@media (max-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
	body{
        font-size: 14px;
    }
    .container {
        width: 100%;
        padding: 0 25px;

    }
    .header-image {

        height: 235px;
    }
    h1, .h1 {
        font-size: 1.5em;
    }
    h2, .h2 {
        line-height: 1.4em;
    }

    #router #logo {
        line-height: 65px;
    }
    #router.smaller {
        height: 65px;
    }
    #router.smaller #logo {
        line-height: 65px;
    }
    #router #mobile-trigger{
        width: 38px;
        height: 38px;
    }
    #router #mobile-trigger span{
        height: 2px;
        width: 19px;
        margin: 6px;
    }
    #router #mobile-trigger.active span:nth-child(1),
    #router #mobile-trigger.active span:nth-child(3){
        top:8px;
    }
    #router #mobile-trigger, #router.smaller #mobile-trigger {
    	top:14px; 
        right: 21px;   
	}
    #router nav{
        width: 77%;
    }
    #router  ul.languages{
        width: 55%;
    }
    .submenu{
        margin-bottom: 0px;
    }

    .address-info {
        padding:  25px ;
    }

   
    .customerlogo h3{
        font-size: 0.9em;
    }
    .office-info{
            height: inherit;
    }
    .management-member .text h3{
        font-size: 1em;
    }
}
@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    body{
        font-size: 12px;
    }
    h1, .h1 {
        font-size: 1.2em;
    }

    .header-image {

        height: 176px;
    }
    #router #logo img {
        width: 178px;
    }
    #router nav{
        width: 100%;
    }
    #router  ul.languages{
        width: 71%;
    }



}


