<% news = current_site.the_post_type("news")%>
<% aboutus = current_site.the_post_type("who-we-are")%>


<% popup = news.the_posts[0].decorate %>
<% if popup.the_field("news-ispopup")== "1"%>

    <table id="splashscreen">
	  <tr>
	    <td><a href="<%= aboutus.the_url%>" class="enter_link ">
		     	<img class="img-fluid mx-auto d-block" src="<%= popup.the_thumb_url%>" /> 
		     </a></td>
	  </tr>
	</table>
<%end%>

