<% news = current_site.the_post_type("news")%>
<% aboutus = current_site.the_post_type("who-we-are")%>


<% popup = news.the_posts[0].decorate %>
<% if popup.the_field("news-ispopup")== "1"%>
    <div id="splashscreen">
  
     <a href="<%= aboutus.the_url%>" class="enter_link">
     	<img src="<%= popup.the_thumb_url%>" /> 
     </a>
    </div>
<%end%>

